[Unit]
Description=ZMediaProxy
After=network.target

[Service]
Type=simple
User=root
NonBlocking=true
WorkingDirectory=/zmp
ExecStart=/zmp/zmp-linux-amd64 --host 127.0.0.1 "http://pitv.ga/playlist.m3u" --best --sort --rosnd --rosua ru.rt.video.player.hls.HlsWinkPlayer --loglevel off
ExecStop=/usr/bin/killall -w zmp-linux-amd64
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
